.user-wrapper {
    width: 100%;
    min-height: 500px;
    background: #2D76F9;
    border-radius: 50px;
    margin-top: 150px;
    padding: 50px 37px;
    @include flex(column, center, center);

    .user__title {
        @include text(600, 36px, 65px, #fff);
        text-align: center;
    }

    .user__btns {
        @include flex(row, center, center);
        gap: 50px;
        margin-top: 95px;

        &--btn {
            @include text(500, 18px, 27px, #2d76f9);
            @include btn(#fff, 1500px, none, 24px 58px);
        }

        &--btn:hover {
            @include btn(#2D76F9, 1500px, 1px solid #fff, 24px 58px);
            color: #fff;
        }

        &--btna {
            @include text(500, 18px, 27px, #fff);
            @include btn(#2D76F9, 1500px, 1px solid #fff, 24px 77px);
        }
    }
}

@media only screen and (max-width: 768px) {
    .user-wrapper {
        width: 100%;
        min-height: 500px;
        background: #2D76F9;
        border-radius: 50px;
        margin-top: 150px;
        padding: 50px 37px;
        @include flex(column, center, center);
    
        .user__title {
            @include text(600, 36px, 65px, #fff);
            text-align: center;
        }
    
        .user__btns {
            @include flex(row, center, center);
            gap: 50px;
            margin-top: 95px;
    
            &--btn {
                @include text(400, 16px, 24px, #2d76f9);
                @include btn(#fff, 1500px, none, 24px 58px);
            }
    
            &--btn:hover {
                @include btn(#2D76F9, 1500px, 1px solid #fff, 20px 54px);
                color: #fff;
            }
    
            &--btna {
                @include text(400, 16px, 24px, #fff);
                @include btn(#2D76F9, 1500px, 1px solid #fff, 20px 73px);
            }
        }
    }
    
}

@media only screen and (max-width: 576px) {
    .user-wrapper {
        width: 100%;
        min-height: 500px;
        background: #2D76F9;
        border-radius: 50px;
        margin-top: 150px;
        @include flex(column, center, center);

        .user__title {
            @include text(600, 36px, 65px, #fff);
            text-align: center;
        }

        .user__btns {
            @include flex(column, center, center);
            gap: 20px;
            margin-top: 95px;

            &--btn {
                @include text(500, 18px, 27px, #2d76f9);
                @include btn(#fff, 1500px, none, 24px 58px);
            }

            &--btn:hover {
                @include btn(#2D76F9, 1500px, 1px solid #fff, 24px 58px);
                color: #fff;
            }

            &--btna {
                @include text(500, 18px, 27px, #fff);
                @include btn(#2D76F9, 1500px, 1px solid #fff, 24px 77px);
            }
        }
    }
}